</div>
<hr>
<div style="padding: 20px 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"
           style="border-collapse: collapse;">
        <tr>
            <td style="color: #777777; font-family: Arial, sans-serif; font-size: 12px;">
                <p>© Safe Carz. All rights reserved.</p>
            </td>
            <td align="right">
                <table border="0" cellpadding="0" cellspacing="0"
                       style="border-collapse: collapse;">
                    <tr>
                        <td>
                            <a href="http://www.twitter.com/">
                                <img src="https://res.cloudinary.com/quando213/image/upload/co_rgb:777777,e_colorize:100/v1613717120/safecarz/icons/twitter-brands_nyackk.png" alt="Twitter"
                                     width="15" height="15" style="display: block;" border="0"/>
                            </a>
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                        <td>
                            <a href="http://www.linkedin.com/">
                                <img src="https://res.cloudinary.com/quando213/image/upload/co_rgb:777777,e_colorize:100/v1613717120/safecarz/icons/linkedin-in-brands_hhwn8v.png" alt="LinkedIn"
                                     width="15" height="15" style="display: block;" border="0"/>
                            </a>
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                        <td>
                            <a href="http://www.facebook.com/">
                                <img src="https://res.cloudinary.com/quando213/image/upload/co_rgb:777777,e_colorize:100/v1613717120/safecarz/icons/facebook-f-brands_kuc1l2.png" alt="LinkedIn"
                                     width="15" height="15" style="display: block;" border="0"/>
                            </a>
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                        <td>
                            <a href="http://www.instagram.com/">
                                <img src="https://res.cloudinary.com/quando213/image/upload/co_rgb:777777,e_colorize:100/v1613717120/safecarz/icons/instagram-brands_dmsnmd.png" alt="LinkedIn"
                                     width="15" height="15" style="display: block;" border="0"/>
                            </a>
                        </td>
                        <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                        <td>
                            <a href="http://www.youtube.com/">
                                <img src="https://res.cloudinary.com/quando213/image/upload/co_rgb:777777,e_colorize:100/v1613717120/safecarz/icons/youtube-brands_f5nuwv.png" alt="LinkedIn"
                                     width="15" height="15" style="display: block;" border="0"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>