<!DOCTYPE html>
<html lang="en">
<%- include('partial/head'); -%>
<body>
<%- include('partial/header'); -%>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404"><img src="/images/emoji.png"></div>
        <h1>Forbidden</h1>
        <h2>You do not have permission to access this page.</h2>
        <a href="/" class="btn btn-primary px-4 py-3 mt-2">Back to homepage</a>
    </div>
</div>
<%- include('partial/footer'); -%>
</body>

</html>
