<!DOCTYPE html>
<html lang="en">
<%- include('partial/head'); -%>
<body>
<%- include('partial/header'); -%>

<!-- Banner -->
<section class="banner top-banner grey-bg">
    <div class="container h-100 d-flex align-items-center">
        <div class="banner-text">
            <div class="banner-text-title emphasis">About us</div>
            <div class="banner-text-content">
                To learn more comprehensively about who we are, what we stand for, our business moto as well as governance plans.
            </div>
        </div>
        <div class="banner-img-container">
            <div class="banner-img">
                <img class="banner-img-photo" src="../images/office-table.jpg" style="object-position: left">
                <img class="logo-z" src="../images/logo-z.svg">
            </div>
            <div class="half-circle"></div>
        </div>
    </div>
</section>
<!-- About Us -->
<!--<div class="container col-12 mx-auto">-->
            <div class="about-us-container col-xl-7 col-lg-7 col-sm-10 mx-auto">
                <div class="d-flex">
                    <a href="index.ejs">
                        <i class="fas fa-home mr-2" ></i>
                    </a> <div>> About us</div>
                </div>
                <div style="margin-top: 20px; font-size: 20px">Safe Carz is
                    an upfront vehicle insurance company that serves its customers
                    in global and local markets. With the amount of employees mounting
                    up to an astonishing number of 6, we are here to provide
                    a variety of property and casualty, life insurance products and
                    services ranging from 18 different companies. Safe Carz’s
                    customers include individuals, companies of all sizes, as well
                    as multinational foreign organisations.</div>
            </div>
<!--</div>-->
    <section class="warm-grey-bg">
        <div class="container py-5 d-flex align-items-center flex-column flex-md-row">
            <div class="component-img img-circle-2-container">
                <img src="../images/COMPANY.jpg">
                <div class="img-circle-2-decoration">
                    <span class="img-circle-2-decoration-circle"></span>
                    <span class="img-circle-2-decoration-circle-half"></span>
                    <span class="img-circle-2-decoration-circle-mini"></span>
                </div>
            </div>
            <div class="component-content">
                <h2 class="mb-3">Safe Carz's outstanding achievements </h2>
                <p>Ever since the early stages of Safe Carz's establishment, our team
                    of gifted individuals has won a handful of industry awards with high-flying
                    ratings for our commitment to superior service quality, innovative patents,
                    and an inclusive employee experience. We take great pride in our unwavering
                    devotion to providing our unique customers and agency partners with a
                    best-in-class insurance experience, and are honored to have received
                    such awards and recognitions.</p>
            </div>
        </div>
    </section>
<!--Who we are-->
<section>
    <div class="container">
        <div class="info-three-column">
            <h2 class="section-title text-left">Who we are</h2>
            <div class="mt-5 row three-column-container">
                <div class="col-4 mb-5 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Mr. Do Duc Quan</h6>
                        <h6>Founder of Safe Carz</h6>
                    </div>
                </div>
                <div class="col-4 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Mr. Nguyen Ngoc Thuan</h6>
                        <h6>Co-founder of Safe Carz</h6>
                    </div>
                </div>
                <div class="col-4 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Mr. Bui Tho Hoang</h6>
                        <h6>Chief Executive Officer</h6>
                    </div>
                </div>
                <div class="col-4 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Mr. Nguyen Tuan Dung</h6>
                        <h6>Chief Financial Officer</h6>
                    </div>
                </div>
                <div class="col-4 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Mr. Ha Nhat</h6>
                        <h6>Chief Administrative Officer</h6>
                    </div>
                </div>
                <div class="col-4 column-4-fix">
                    <div class="img-container">
                        <img src="../images/Men-in-suit.jpg">
                        <div class="half-circle"></div>
                    </div>
                    <div class="text-container">
                        <h6>Ms. Duong Thi Chinh</h6>
                        <h6>Chief Marketing Officer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--What we care about-->
<section>
    <div class="container">
            <h2 class="section-title text-left">What we care about</h2>
        <div class="row three-column-container">
            <div class="mb-5 mt-5 ">
                <div class="d-flex">
                    <div class="text-box-container col-4">
                        <div class="text-container-we-care">
                            <h3><strong>Our purpose and values</strong></h3>
                            <h5><strong>Purpose and value</strong></h5>
                            <p style="font-size: 14px;">Create a world where everyone is equal and no loss is a waste.</p>
                        </div>
                    </div>
                    <div class="text-box-container col-4">
                        <div class="text-container-we-care">
                            <h3><strong>Our local brand</strong></h3>
                            <h5><strong>Marketing</strong></h5>
                            <p style="font-size: 14px;">It is our attention to expand our business into a global-scale empire.</p>
                        </div>
                    </div>
                    <div class="text-box-container col-4">
                        <div class="text-container-we-care">
                            <h3><strong>Corporate Governance</strong></h3>
                            <h5><strong>Structure</strong></h5>
                            <p style="font-size: 14px;">Corporate Governance structure of Safe Carz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partial/footer'); -%>
</body>
</html>
</body>
</html>