<!DOCTYPE html>
<html lang="en">
<%- include('partial/head'); -%>
<body>
<%- include('partial/header'); -%>

<!-- Banner -->
<section class="banner top-banner light-pink-bg">
    <div class="container h-100 d-flex align-items-center">
        <div class="banner-text">
            <div class="banner-text-subtitle"><strong>What is</strong></div>
            <div class="banner-text-title emphasis"><strong>Auto insurance?</strong></div>
            <div class="banner-text-content">
                What is meant by the term Auto Insurance? Innovation with you in mind.
            </div>
        </div>
        <div class="banner-img-container">
            <div class="banner-img">
                <img class="banner-img-photo" src="../images/car-insurance-germany-cropped.jpg">
                <img class="logo-z" src="../images/logo-z.svg">
            </div>
            <div class="half-circle"></div>
        </div>
    </div>
</section>
<!-- Auto Insurance Definition -->
<div class="auto-insurance-container col-xl-7 col-lg-7 col-sm-10 mx-auto">
    <div class="d-flex">
        <a href="index.ejs">
            <i class="fas fa-home mr-2" ></i>
        </a> <div>> Auto insurance</div>
    </div>
    <div style="margin-top: 20px; font-size: 35px; text-align: center ">
        <i class="fas fa-quote-right my-5" style="font-size: 60px; color: #2167ae"></i>
        <br>
        Auto insurance is a policy purchased by vehicle owners to mitigate costs
        associated with getting into an auto accident. Instead of paying out-of-pocket for auto
        accidents, people pay annual premiums to an auto insurance company; the company then
        pays all or most of the costs associated with an auto accident or other vehicle damage.
    </div>
    <div class="group-chief-executive-officer">Jason Nguyen,<span> Group Chief Executive Officer</span></div>
    <div style="text-align: center" class="img-container-auto-insurance mt-3">
        <img src="../images/Men-in-suit.jpg">
    </div>
    <hr id="benefits">
    <div class="auto-insurance-benefits text-center mt-5">
        <div style="font-size: 40px; font-weight: bold">Benefits of Car Insurance</div>
        <div style="font-size: 20px; margin: 20px">A comprehensive insurance policy provides cover to your
            vehicle against damage due to accident, fire, theft, cyclone, flood etc. Along with this
            cover, it covers any third party liability. Here are our major car insurance benefits:</div>
    </div>
</div>
<!-- 4 Benefits -->
<div class="container my-5 d-flex flex-wrap justify-content-center">
    <div class="benefit-container col-lg-3 col-sm-6">
        <div class="img-container-benefits">
            <div class="make-it-beautiful">
                <img src="../images/blue-logo.jpg">
            </div>
        </div>
        <div style="text-align: center; margin-top: 20px">
            <h3>Insured</h3>
            <div>In case your vehicle is damaged due to an accident, fire, or  self ignition,
                you are protected.
           </div>
        </div>
    </div>
    <div class="benefit-container col-lg-3 col-sm-6">
        <div class="img-container-benefits">
            <div class="make-it-beautiful">
                <img src="../images/blue-logo.jpg">
            </div>
        </div>
        <div style="text-align: center; margin-top: 10px">
            <h3>Cover</h3>
            <div>If your car is involved in an accident that results in damage or loss to the
                property of any third parties, it is covered under the car insurance.
            </div>
        </div>
    </div>
    <div class="benefit-container col-lg-3 col-sm-6">
        <div class="img-container-benefits">
            <div class="make-it-beautiful">
                <img src="../images/blue-logo.jpg">
            </div>
        </div>
        <div style="text-align: center">
            <h3>Network</h3>
            <div>HDFC ERGO Car Insurance maintains a large network of garages across the country.
                This ensures you receive cashless services in all these locations, in case the
                need arises.
            </div>
        </div>
    </div>
    <div class="benefit-container col-lg-3 col-sm-6">
        <div class="img-container-benefits">
            <div class="make-it-beautiful">
                <img src="../images/blue-logo.jpg">
            </div>
        </div>
        <div style="text-align: center">
            <h3>Liabilities</h3>
            <div>If your car is involved in an accident that results in damage or loss to the
                property of any third parties, it is covered under the car insurance.
            </div>
        </div>
    </div>
</div>
<!-- Additional Information-->
<section>
    <div style="margin-bottom: 30px; font-size: 40px" class="text-center">Types of coverage</div>
    <div class="container">
        <div id="accordion" class="mx-auto col-12 col-md-10 col-lg-8">

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="card-link">
                        Collision coverage
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers expenses related to the damage or destruction of your vehicle from
                        an accident or other collision
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Comprehensive coverage
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers expenses related to the damage to your vehicle caused by vandalism,
                        theft, hail, fallen trees and more
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Liability coverage
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers expenses related to injury, death or property damage of others when
                        you're at fault
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Medical payments coverage
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers medical expenses if you or your passengers are hurt
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Uninsured & underinsured motorist coverage
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers your expenses if the other driver is at fault and doesn't have insurance
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Sound system insurance
                    </a>
                </div>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers the cost of replacing stolen or damaged audio and/or video equipment
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Roadside coverage
                    </a>
                </div>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers the cost of common roadside services like tire changes and jump-starts
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Personal injury protection
                    </a>
                </div>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers expenses related to injuries you sustained in a covered accident
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Personal umbrella policy
                    </a>
                </div>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers liability above and beyond your auto policy's other liability underlying limits
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Rental reimbursement coverage
                    </a>
                </div>
                <div id="collapseTen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Covers the cost of renting a car or other transportation expenses while your
                        vehicle's in the shop
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partial/footer'); -%>
</body>
</html>