<!DOCTYPE html>
<html lang="en">
<%- include('partial/head'); -%>
<body>
<%- include('partial/header'); -%>

<!-- Banner -->
<section class="banner top-banner pink-bg">
    <div class="container h-100 d-flex align-items-center">
        <div class="banner-text">
            <div class="banner-text-title emphasis">Frequently<br>Asked<br>Questions</div>
        </div>
        <div class="banner-img-container">
            <div class="banner-img">
                <img class="banner-img-photo" src="../images/insurance-1.jpg" style="object-position: right">
                <img class="logo-z" src="../images/logo-z.svg">
            </div>
            <div class="half-circle"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div id="accordion" class="mx-auto col-12 col-md-10 col-lg-8">
            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Can an automobile have trouble in a foreign country be insured?
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        For vehicles that have trouble occurring outside the territory of the Socialist Republic of Vietnam, they will not be compensated for damage.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        My car has an accident and damaged belongings, how will I be compensated?
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Currently, in most of the cases, automobile material insurance will not compensate you for damages of indirect consequence such as: decrease in commercial value, damage associated with use. and exploiting damaged property, damage bearing mental factors, damage not directly caused by accident.
                        Damage to special property on a vehicle includes: gold and silver; precious stones; money; papers of value such as money; antique; Rare pictures ... will not be compensated.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Insurance claim file?
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Prepare a Claim Form and send it to your insurance company
                        <ul>
                            <li>Vehicle registration certificate.</li>
                            <li>Driving license.</li>
                            <li>Identity card or passport or other identification documents of the driver.</li>
                            <li>Certificate of Insurance.</li>
                            <li>Documents proving human damage</li>
                            <li>Documents proving property damage</li>
                            <li>Copies of relevant documents of the competent authority about the accident</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        How soon will I receive the money?
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        The Company is responsible for processing a claim for benefits within a maximum period of 30 days from the date of receipt of a full and valid claim payment.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        I have purchased insurance, but can I cancel it and how much is the refund?
                    </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        In case the customer requests unilaterally terminate the insurance contract, if the customer notifies 03 working days before the effective date of insurance, the customer will refund 70% of the premium, no refund if the customer has issued valid insurance. In case the insurer unilaterally terminates the insurance contract, 100% of the premium will be refunded
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Under what circumstances will the physical car insurance cover you?
                    </a>
                </div>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>Normally, when you join car material insurance, you will be covered in the following cases:</li>
                            <li>The vehicle has an accident, crash, collision, overturn, fire, fire or explosion.</li>
                            <li>Force majeure accident caused by nature: storm, flood, lightning, earthquake, hail, landslide.</li>
                            <li>Damage caused by an impact from outside objects on the vehicle.</li>
                            <li>The vehicle owner has been stolen or stolen the whole vehicle.</li>
                            <li>Accident caused by other unexpected risks</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Which case is considered not to participate in material insurance of car?
                    </a>
                </div>
                <div id="collapseSaven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        In the terms of the car material insurance, there is also an exclusion clause, which is the case that insurance will not pay for you when something goes wrong, including:
                        <ul>
                            <li>Driving a vehicle that causes damage when the alcohol content exceeds the current law is concluded in writing by a competent State agency or driving using other stimulants under the law. prohibit use.</li>
                            <li>Illegally transporting goods or not fully complying with the provisions of law on transport, loading and unloading of goods.</li>
                            <li>Drivers without a valid driving license will also not be eligible for insurance.</li>
                            <li>Vehicles carrying more than the number of people as prescribed by competent State agencies.</li>
                            <li>Vehicles carrying more than (>) 20% of the payload according to the regulations of the competent State agencies, in other cases, sanctions will be applied under Article 13.</li>
                            <li>Night-travel vehicles without proper lights, vehicles entering restricted roads or restricted areas (turning, turning at prohibited places, going on the opposite side of a one-way street, passing red lights or not obeying the orders of drivers) who cause an accident will not be covered by the car's physical insurance.</li>
                        </ul>
                       </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Does Farmers offer insurance for collectible autos or antique cars?
                    </a>
                </div>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        At the time of the accident, vehicles without a certificate of technical safety inspection and environmental protection of road motor vehicles or with but not valid, will not be entitled to material insurance (unless the owner vehicle has another written agreement.) In addition, vehicles used for practice, racing (legal or illegal), test run after repair will not be covered (unless otherwise agreed. written).
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        How much auto insurance do I need?
                    </a>
                </div>
                <div id="collapseNight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Most states require you to carry a minimum amount of liability insurance and also provide proof of insurance to register a vehicle or renew your license. In the case of an accident, the minimum liability insurance required by the state may not be enough coverage to pay for the damages that result after an accident. In this case, the driver responsible for the accident may have to pay additional expenses out of pocket. To determine how much auto insurance you need, consider:
                        <ul>
                            <li>The value of your assets</li>
                            <li>How and when you drive</li>
                            <li>What you drive</li>
                            <li>Who is in the car with you</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        How do I find the lowest auto insurance rate for me?
                    </a>
                </div>
                <div id="collapseTen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        To find the most affordable auto insurance policy for you, take the time to compare insurance providers to see who can save you the most money while providing you the most value. Many insurance companies combine low rates with discounts to provide lower premiums for young drivers. Farmers even offers a Good Student Discount to qualifying young drivers with good grades. And drivers who have multiple insurance policies with Farmers can save, as well. Talk to your local Farmers agent to see what money-saving tips they have for you when choosing an auto insurance policy.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        What kinds of discounts are available for auto insurance?
                    </a>
                </div>
                <div id="collapseEleven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Farmers offers a variety of discounts, including discounts for selected occupational groups (doctors, RNs, dentists, teachers, police, firefighters, etc.), homeowners, good students, teens with parents who have safe driving records, drivers who own cars with air bags, drivers who own two or more automobiles, and more.
                        Contact your local <a href="#">Farmers agent</a> for more details.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        What discounts are available in my state?
                    </a>
                </div>
                <div id="collapseNumberTwelve" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        In addition to discounts based on your occupational group, whether you are a homeowner, a good student, own multiple vehicles or own a car with airbags, there is a wide range of auto insurance discounts you may qualify for depending on what state you live in. See our comprehensive list of
                        <a href="#"> auto insurance discounts by state </a>- simply select your state to see which discounts you may be eligible for.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        What kind of discounts can I receive with multiple policies?
                    </a>
                </div>
                <div id="collapseThirteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        You can save more money if you have multiple insurance policies with Farmers. For instance, if you’re already purchasing auto insurance, you can get extra protection and save money with motorcycle insurance, home or renters insurance, life insurance, or recreational vehicle insurance. Contact your local
                        <a href="#"> Farmers agent</a> today to learn about ways you can save.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Why do car insurance premiums change?
                    </a>
                </div>
                <div id="collapseFourteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Auto insurance premiums change for the same reasons that the price of other goods and services you buy change.

                        Insurance companies incur the same costs you do in buying goods and services, and these costs can ultimately affect your insurance premium. Costs affecting the ultimate price of auto insurance include:

                        Medical costs to treat injuries
                        Auto repair costs
                        Costs to adjust claims
                        Inflation
                        Uninsured drivers (your policy pays when the other driver doesn't have an auto insurance policy if you purchase Uninsured Motorist coverage)

                        Although insurance companies can't directly control these costs, we regularly monitor them to see how they are affecting the costs of the claims we pay. As they change, auto premiums must be adjusted. These costs can affect your auto insurance premium whether or not you individually have had an accident or claim.

                        Changes you make to your auto insurance policy or coverage may also change the premiums. Adding or removing a driver, buying a new car, moving to a new location or changing how you use your car may influence the cost of your auto insurance.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Does the kind of car I drive influence my auto insurance rates?
                    </a>
                </div>
                <div id="collapseFifteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        The car you drive can have a substantial impact on your auto insurance premium, especially the amount you pay for your comprehensive and collision coverage. The insurance rates for comprehensive and collision coverage are determined by looking at the type of vehicle loss history – how often it is stolen, and how costly it is to repair or replace after an accident. Your Farmers agent can help you by letting you know which vehicles have better insurance values.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        What can I do to control my auto insurance rates?
                    </a>
                </div>
                <div id="collapseSixteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Have multiple policies, like your homeowners policy, with your Farmers auto insurance.
                        Insure more than one car to qualify for multi-car discounts.
                        Insure your boat, motorcycle or RV to earn additional discounts.
                        Drive safely, drive less often and maintain a clean driving record.
                        Raise your deductible.
                        Drive a reliable car with standard safety features like air bags, anti-lock brakes and electronic stability control.
                        Check with your Farmers agent to see if you qualify for additional car insurance discounts.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        How does the kind of car I drive affect my insurance rate?
                    </a>
                </div>
                <div id="collapseSeventeen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        The kind of car you drive can impact your car insurance rate, especially if you have comprehensive and collision coverage. Rates are based on the type of vehicle loss history – how often it’s stolen, and how expensive it is to repair or replace after a theft or accident.

                        Additional factors that can contribute to your car insurance premium:

                        Engine size
                        Body type
                        Age
                        Value
                        Safety and security features
                        Crash-test ratings
                        Every car and driver is unique, and while certain standards can apply to  car insurance premiums – like cars with fewer safety features or car alarm systems typically costing more to insure, and cars with sophisticated safety features and good crash-test ratings usually being more affordable – there are a variety of exceptions.

                        The best way to determine how the kind of car you drive can affect your insurance rate is to talk with a
                        <a href="#">Farmers agent</a> to help you determine the right insurance coverage for you and your car.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Am I covered if I drive someone else's vehicle?
                    </a>
                </div>
                <div id="collapseEighteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Generally speaking, the insurance goes with the car. For example, if you have an accident while driving someone else's car, the owner's insurance would apply toward damages first. Your auto insurance would generally apply in the event the owner of the vehicle had no auto insurance or did not have enough auto insurance to pay the damages. For specific information and guidance on your coverage in this situation, contact your local Farmers agent.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        Are there special coverage options for new cars?
                    </a>
                </div>
                <div id="collapseNineteen" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Farmers offers the New Car Pledge ®, a guarantee for newly purchased vehicles. We'll replace it with a new one of the same make and model, at full market value without depreciation, as long as the car has less than 24,000 miles and is a maximum of two model years old. Additionally, if your new car is repairable, only original equipment manufacturer parts will be used when available.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" data-toggle="collapse">
                    <a class="collapsed card-link">
                        If I rent a car, am I covered?
                    </a>
                </div>
                <div id="collapseTwenty" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Car rental companies charge daily fees for "CDW" coverage (which means their insurance will pay for all damages covered in your rental agreement). Rental car coverage under a private passenger policy varies state by state. Check your policy or contact your local Farmers agent.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="pink-bg py-5">
    <div class="container text-center">
        <h3>
            Got more questions?
        </h3>
        <a href="/contact-us" type="button" class="btn btn-primary px-4 py-3 mt-4 mx-1">Contact us
            <i class="ml-2 fa fa-chevron-right text-white"></i>
        </a>
    </div>
</section>

<%- include('partial/footer'); -%>
</body>
</html>