<!DOCTYPE html>
<html lang="en">
<%- include('partial/head'); -%>
<body>
<%- include('partial/header'); -%>

<!-- Banner -->
<section class="banner light-blue-bg">
    <div class="container h-100 d-flex align-items-center">
        <div class="banner-text">
            <div class="banner-text-content">
                <h1>
                    <strong>Why Safe Carz</strong>
                </h1>
                <p style="margin-top: 40px">We are here to open your mind.</p>
            </div>
        </div>
        <div class="banner-img-container">
            <div class="banner-img">
                <img class="banner-img-photo" src="../images/why-safe-carz.jpg" style="object-position: 90%">
                <img class="logo-z" src="../images/logo-z.svg">
            </div>
            <div class="half-circle"></div>
        </div>
    </div>
</section>
<div class="about-us-container col-xl-7 col-lg-7 col-sm-10 mx-auto">
    <div class="d-flex">
        <a href="index.ejs">
            <i class="fas fa-home mr-2" ></i>
        </a> <div>> Why Us?</div>
    </div>
</div>



<div class="container my-5 d-flex flex-wrap justify-content-center">
    <div class="benefit-container col-lg-4 col-sm-6">
        <div class="img-container-benefits">
            <div class="make-it-beautiful">
                <img src="../images/gear3.png">
            </div>
        </div>
        <div class="why-us-container">
            <h3><strong>Why chose us?</strong></h3>
            <div class="small"> 1. Immediate guidance.
                and claim logging is offered via hotline 24/24 nationwide.<br>
                2. Free rescue service is delivered within a radius of 70km
                 from rescue center in big provinces.<br>
                3. Fast and convenient claim service.
            </div>
        </div>
    </div>
    <div class="benefit-container col-lg-4 col-sm-6">
        <div class="img-container-benefits">
            <img src="../images/gear.png">
        </div>
        <div class="why-us-container">
            <h3><strong>What matters most</strong></h3>
            <div class="small">You matter most<br>
                As our beloved customers, we offer you with only our top-notch
                service that guarantees 100% satisfactory.<br>

                You are our number one priority and it is our duty to provide with
                what you deserve.
            </div>
        </div>
    </div>
    <div class="benefit-container col-lg-4 col-sm-6">
        <div class="img-container-benefits">
                <img src="../images/gear2.png">
            </div>
        <div class="why-us-container">
            <h3><strong>How will we do it</strong></h3>
            <div class="small">Plans  have already been made,
                schemes have already been set up since the birth
                of our very foundation.<br>

                That is how prepared we are to commit to a life long
                of quality service.<br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer-text-container">
        <hr>
        <div class="text-center">
            <i class="fas fa-quote-right"></i>
        </div>
        <h1>One of a kind
            service, this entrepreneur company has surely outdone itself and has definitely left a mark
            in the industry of insurance.</h1>
        <p>-New York Times-</p>
        <div class="text-center">
            <i class="fas fa-quote-right"></i>
        </div>
        <h1>A rather fearsome opponent to face if one
            ever seeks to find success in this industry. Better think twice before thinking of joining in the big
            league. It is not for the faint of heart.</h1>
        <p>-Kirkus Review-</p>
        <div class="text-center">
            <i class="fas fa-quote-right"></i>
        </div>
        <h1>Outstanding performance for an upcoming giant, no
        wonder Safe Carz is called the Michael Jordan of the insurance business. We have high hope for you, keep
        up the good work!</h1>
        <p>-Sunday Express-</p>
    </div>

</div>

<%- include('partial/footer'); -%>
</body>
</html>