<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= title %> | SafeCarz</title>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<style>
    .errorMsg {
        font-weight: normal !important;
        color: red;
    }

    .error {
        font-weight: normal !important;
        color: red;
    }

    .page-item {
        cursor: pointer;
    }

    .nav-treeview > .nav-item > .nav-link {
        padding-left: 40px;
    }

    .alert-success .alert-link {
        color: white;
    }

    .btn.btn-status:not(:disabled):not(.disabled), .progressbar .btn:not(:disabled):not(.disabled) {
        cursor: default;
    }
</style>