<footer class="pt-5">
    <div class="container">
        <div class="row pt-2">
            <div class="col-12 col-lg-2 pt-3">
                <strong>Useful links</strong>
                <div class="pt-2"><a href="/about-us">About us</a></div>
                <div class="pt-2"><a href="/contact-us">Contact</a></div>
                <div class="pt-2"><a href="/faq">FAQ</a></div>
                <div class="pt-2"><a href="/quote">Quote</a></div>
            </div>
            <div class="col-12 col-lg-5 pt-3">
                <strong>About Safe Carz</strong>
                <div>
                    Safe Carz brings you auto insurance which is a
                    contract between you and the insurance company
                    that protects you against financial loss in the event
                    of an accident or theft. In exchange for your paying
                    a premium, the insurance company agrees to pay
                    your losses as outlined in your policy.
                </div>
<!--                <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/Full_Online_Tray_RGB.png"-->
<!--                        border="0" class="mt-3 img-fluid" width="200" alt="PayPal Acceptance Mark">-->
            </div>
            <div class="col-12 col-lg-1 p-0"></div>
            <div class="col-12 col-lg-4">
                <div class="contact-detail">
                    <div class="col-12 p-0 pt-3">
                        <strong>Follow us</strong>
                        <div class="social-media-links">
                            <a href="https://twitter.com/" target="_blank"><i class="fab fa-fw fa-twitter pt-3 pr-5"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-fw fa-linkedin-in pt-3 pr-5"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-fw fa-facebook-f pt-3 pr-5"></i></a>
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-fw fa-instagram pt-3 pr-5"></i></a>
                            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-fw fa-youtube pt-3 pr-5"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row pt-5 small">
                        <div class="pr-4"><a href="/privacy">Privacy</a></div>
                        <div class="pr-4"><a href="/terms-of-use">Terms of Use</a></div>
<!--                        <div class="pr-4"><a href="">Cookies</a></div>-->
                        <div class="pr-4">© Safe Carz</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<button id="scroll-to-top"><i class="fas fa-arrow-up" aria-hidden="true"></i></button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/javascripts/scripts.js"></script>