<div class="policy">
    Information from outside sources, such as the driving records and claim history is used
    to provide you with a quote. A third party may be used to calculate your insurance score.
    This information, along with information you provide, will be shared with affiliates of
    Safe Carz Insurance Company and outside parties that perform services on Safe Carz's behalf.
    <br><br>
    <span class="text-black font-weight-bold">Click "Next" to authorize Safe Carz to obtain consumer reports on behalf of everyone you
                        list on this online tool.</span>
</div>